:root {
    --blue: rgb(0, 30, 114);
    --yellow: rgba(255, 217, 0, 0.86)
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
    padding: 10px;
}

.heading {
    color: var(--blue);
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 20px;
}

.heading>p {
    font-size: 48px;
    font-weight: bold;
    text-align: right;
}

.card {
    width: 400px;
    margin: 20px auto;
    padding: 0px 20px;
    border: 3px solid var(--blue);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

.card>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.card>div>* {
    margin: 0;
}

.card>div>h3 {
    font-weight: lighter;
    font-size: 48px;
    color: white;
}

.card>div>p {
    font-size: 18px;
}

.avatar-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 0;
    border: 5px solid var(--blue);
}

.custom-footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: gainsboro;
    border-top: 4px solid var(--blue);
}

.addn-info {
    text-align: center;
    padding: 10px 0;
}

.addn-info>* {
    margin: 0px;
}

@media (max-width: 1250px) {
    .heading>img.avatar-pic {
        display: none;
    }

    .heading>p {
        font-size: 40px !important;
        text-align: center !important;
        margin: 0 0 10px 0;
    }

    .heading {
        margin: 0;
    }
    .card {
        min-width: 350px !important;
    }
}